<div class="sharepage-content">
  <div class="sharepage-content--fb">
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.11&appId=1190431647637308&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-share-button" data-href="{{ uri }}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ uri_encode }};src=sdkpreparse">Compartir</a>
    </div>
  </div>
  <div class="sharepage-content--tw">
    <div class="tw-share-button">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="sharepage-content--in">
    <div class="in-share-button">
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: es_ES</script>
      <script type="IN/Share"></script>
    </div>
 </div>
</div>